@import './fonts.css';
@import './icon.css';
@import './variables.css';

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #f2f5fa;
	/* overflow: hidden; */
}

body.dark {
	background-color: #1d1e22;
}

#app {
	font-family: Gilroy, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* text-align: center; */
	color: #2c3e50;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
