body {
	--clr-primary: #6236ff;
	--clr-primary-dark: #3a2487;
	--clr-danger: #e74c3c;
	--clr-link: #3772ff;

	--clr-white: #ffffff;
	--clr-light: #f2f5fa;
	--clr-dark: #1d1e22;
	--clr-darker: #121215;

	--clr-gs-white: #ffffff;
	--clr-gs-white: #ffffff;
}

body.dark {
	--clr-primary: #cbff17;
	--clr-primary-dark: #384316;
}
